body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://images.hdqwalls.com/download/pixel-landscape-dt-2560x1440.jpg");
  font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-submit-button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;

  /* display: inline; */
}

.fav-btn {
  margin-top: 1em;
  border-radius: 50%;
  border: none;
  height: 2.8em;
  width: 2.8em;
  outline: none;
  background: #7c7c7c2b;
  color: white;
}

.fav-btn:hover {
  color: red;
  background-color: #fffaf1;
}

.search-submit-button:hover {
  background: #7c7c7c6b;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  /* display: inline-block; */
}

.city {
  grid-area: title;
  font-size: 2.5em;
}

.temp {
  margin: 0;
  margin-bottom: 0.4em;
  font-size: 2em;
  grid-area: temp;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 0.2em;
}

.current-weather-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas: "title title" "temp temp";
}

.current-weather-container.loading {
  visibility: visible;
  content: "Loading...";
  color: #fff;
  position: absolute;
  top: 0;
}

/* favorites tab styles */

.new-fav-container {
  background: #000000d0;
  position: relative;
  color: white;
  border-radius: 1.5em;
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1em;
}

.fav-container,
.show {
  position: absolute;
  right: 1em;
  height: 10em;
  max-height: 70vh;
  overflow-y: scroll;
  padding-inline: 0.7em;
  background-color: #fff;
  /* display: flex; */
  /* border: 1px solid black; */
}

.fav-container::-webkit-scrollbar {
  width: 0.5em;
}

.fav-container::-webkit-scrollbar-track {
  background: rgba(75, 72, 83, 0.5);
  border-radius: 1em;
}
.fav-container::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.439);
  border-radius: 1em;
}

/* .favTitle {
  text-transform: capitalize;
} */

.favTemp {
  position: absolute;
  left: 3em;
  top: 3em;
}

.favIcon {
  position: absolute;
  bottom: 1em;
}

.favDesc {
  position: absolute;
  bottom: -1em;
}

.favHumidity {
  position: absolute;
  top: 3.6em;
  right: 3em;
}

/* hamburger */

.hide {
  display: none;
}

.fav-toggle {
  position: absolute;
  top: 2em;
  right: 0;
  background: #fff;
  padding: 1em 0.5em;
  border: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  background: black;

  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 6px;
}

.hamburger::after {
  top: 6px;
}

.hamburger {
  transform: rotate(45deg);
}

/* .newTitle-styles {
  width: 1em;
  height: 1em;
  color: white;
} */
