.favTemp {
  position: absolute;
  left: 3em;
  top: 3em;
}

.favIcon {
  position: absolute;
  bottom: 1em;
}

.favDesc {
  position: absolute;
  bottom: -1em;
}

.favHumidity {
  position: absolute;
  top: 3.6em;
  right: 3em;
}
